.body-page {
  padding: 100px;
  background-color: #374151;
}
.cake-card {
  margin: 50px;
  margin-top: -60px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 1000px;
  padding: 50px;
  padding-right: 50px;
  text-align: center;
  background-color: #fff;
  border: 2px solid rgb(255, 141, 141);
  border-radius: 10px;
}
.sel1 {
  margin-left: 150px;
}
.sel2 {
  margin-left: 119px;
}
.sel3 {
  margin-left: 83px;
}
.sel4 {
  margin-left: 108px;
}
.sel5 {
  margin-left: 50px;
}
.flow {
  margin-top: 20px;
  margin-right: 130px;
}
.star {
  margin-top: 20px;
  margin-right: 148px;
}
.diam {
  margin-top: 20px;
  margin-right: 111px;
}
.hear {
  margin-top: 20px;
  margin-right: 135px;
  margin-bottom: 30px;
}
.starico {
  margin-left: 205px;
  margin-right: 20px;
  color: #ff4ff3;
  margin-top: 19px;
}
.flowico {
  margin-left: 205px;
  margin-right: 20px;
  margin-top: 19px;
  color: #ff4ff3;
}
.diamico {
  margin-left: 205px;
  margin-right: 20px;
  margin-top: 19px;
  color: #ff4ff3;
}
.hearico {
  margin-left: 205px;
  margin-right: 20px;
  margin-top: 19px;
  color: #ff4ff3;
}
